################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp1/FileContentIndex/2dcea38b-57c8-4747-86d6-ef2719b100de.vsidx
/.vs/ConsoleApp1/FileContentIndex
